<h1>作成したプロジェクト</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to '再生', project %></td>
        <td><%= link_to '編集', edit_project_path(project) %></td>
        <td><%= link_to '削除', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'プロジェクトの新規作成', new_project_path %>
