<h1>Listing daws</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @daws.each do |daw| %>
      <tr>
        <td><%= link_to 'Show', daw %></td>
        <td><%= link_to 'Edit', edit_daw_path(daw) %></td>
        <td><%= link_to 'Destroy', daw, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daw', new_daw_path %>
